<div *ngIf="isSearchPage" class="hidden md:block">
	<!-- <app-search-input></app-search-input> -->
</div>

<div>
	<a [routerLink]="['/']" *ngIf="isTeacherPage || isCoursePage; else isTeacher">
		<button class="btn-ghost inline-flex items-center"> 
			<lucide-icon [img]="logOutIcon" class="h-4 mr-1"></lucide-icon> 
			<span>Exit</span>
		</button>
	</a>

	<ng-template #isTeacher>
		<a [routerLink]="['/teacher/courses']">
			<button class="btn-ghost"> Teacher mode </button>
		</a>
	</ng-template>

	<a *ngIf="authService.currentUser | async">
		<button class="btn-ghost inline-flex items-center" (click)="logOut()"> 
			<lucide-icon [img]="doorOpenIcon" class="h-4 mr-1"></lucide-icon> 
			<span>Logout</span>
		</button>
	</a>

</div>